.card{
    border:2px solid black;
    border-radius:5%;
    margin:1vh 0vw;
    flex-basis:28vw;
    height:fit-content;
    min-height:35vh;
    text-align: left;
}
.card ul{
    list-style: none;
    padding-left: 5px;
}
.card__title{
    text-align: center;
    color: white;
}
.card__body{
    border: 2px solid transparent;
    border-radius:5%;
    margin-left: 10px;
}
.todo{
    background-color:#5458d7;
}
.doing{
    background-color: #f1ae53;
}
.done{
    background-color:#5ac57d;
}
.form__button{
    display: none;
}
.add__item{
    border: 2px solid transparent;
    margin:5px 0px 0px 10px;
    border-radius: 5%;
    width: 28vw;
    background-color:whitesmoke !important;
    height:10vh;
    text-align:justify;
}
.add__item:hover{
    background-size:contain;
    color:red;
    opacity:.5;
}

/**744*736*/
