.card__item{
    border: 2px solid transparent;
    margin:5px 0px 5px 5px;
    width: 28vw;
    background-color:whitesmoke !important;
    min-height: 20vh;
    height: fit-content;
    text-align:justify;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
.card__item *{
    margin: 10px 0 0 10px;
}